<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="pickedEnemies" style="align-items">
  <div class="picked" data-th-id="1"></div>
  <div class="picked" data-th-id="2"></div>
  <div class="picked" data-th-id="3"></div>
  <div class="picked" data-th-id="4"></div>
  <div class="picked" data-th-id="5"></div>
</div>
<div class="image-container" style="display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Позволяет изображениям переноситься на новую строку */
    gap: 10px; /* Задает расстояние между изображениями */
    justify-content: center; /* Центрирует изображения */">
  <div class="heroListContainer" th:each="hero : ${heroes}">
    <div class="heroContainer" th:id="${hero.getId()}">
      <a th:href="@{/api/hero/{id}(id=${hero.getId()})}">
        <img th:src="'https://cdn.akamai.steamstatic.com/apps/dota2/images/dota_react/heroes/'+${hero.getImageLink()} +'.png'" alt="" width="150">
      </a>
    </div>
  </div>
</div>

</body>
</html>